<div *ngIf="!isGameFinished">
    <div *ngFor="let player of players; let i = index">
      <p>{{ player.name }}: {{ player.points }}</p>
    </div>
    <div class="board">
      <app-card
        *ngFor="let card of cards"
        [value]="card.value"
        [isFlipped]="card.isFlipped"
        [isMatched]="card.isMatched"
        (cardClicked)="onCardClick(card)"
      ></app-card>
    </div>
  </div>
  <div *ngIf="isGameFinished">
    <p>Game Over!</p>
    <button (click)="startNewGame()">Start New Game</button>
  </div>
  